# ===========================
# GNS3
# ===========================
*.log
*.tmp
*.bak
*.autosave
*.gns3~
*.gns3_backup

# ===========================
# Cisco IOS
# ===========================
*.nvram
*.rom
*.bin
*.image

# ===========================
# Captures temporaires
# ===========================
*.pcap
*.cap

# ===========================
# Système
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Linux
# ===========================
*~
*.swp
*.swo

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# JetBrains
# ===========================
.idea/

# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]

# ===========================
# Divers
# ===========================
*.zip
*.tar
*.gz
*.7z